<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)] = 'filteredBy' (ngModelChange)="filterProducts()"/>
        <button class="btn btn-primary mx-5">Filter</button>
      </div>
    </div>
    <div class="row">       
      <div class="col-md-6">
        <h4>Filtered by: {{filteredBy}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <button class="btn btn-primary" (click)="toggleImages()">{{showImg?'Hide':'Show'}} images</button>
      </div>
    </div>
    <div class="table-responsive">
      <table  class="table" *ngIf="products.length">
        <thead>
          <tr>
            <th></th>            
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>
              <img [src]='product.imageUrl' 
              [style.width.px]='imgWidth'
              [style.margin.px]='imgMargin'
              *ngIf='showImg'/>
            </td>
            <td>{{ product.productName |uppercase }}</td>
            <td>{{ product.productCode | convertToSpaces:'-' | lowercase}}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency :'INR':'symbol':'1.2-2' }}</td>
            <td>{{ product.starRating }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
